{% block content %}
<!-- about section starts -->
<section id="A Propos" class="about section-padding">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="section-header text-center pb-5">
                  <h2>A propos de nous</h2>
                  <p>Moov est une entreprise fondé pour répondre aux besoins de déménagements des ses clients. 
                       Petite entreprise locale à ses débuts, Moov s’est développée pour devenir l’une des entreprises les plus performantes 
                       de l’industrie de la mobilité dans la ville de Douala. 
                  </p>
              </div>
          </div>
      </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="../static/assets/d.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                      <h2>Notre Mission</h2>
                      <p>Chez Moov, le déménagement est notre affaire et aucun déménagement n’est trop grand ou trop petit. Pour déménager en toute sérénité, nous 
                          nous engageons à vous offrir sécurité, fiabilité, réactivité, courtoisie, disponibilité, communication, et écoute.</p>
                      <!-- <a href="#" class="btn btn-warning">Lire plus</a> -->
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
              <div class="about-img">
                  <img src="../static/assets/d-1.jpg" alt="" class="img-fluid">
              </div>
          </div>
          <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
              <div class="about-text">
                    <h2> Nos valeurs et nos engagements </h2>
                    <p>Moov reste fidèle à ses valeurs fondatrices: qualité, performance, respect, innovation et solidarité.
                      Grâce à ces valeurs, Moov aspire à l’excellence professionnelle et à une conscience sociale exemplaire. 
                      En respectant cette ligne directrice, Moov s’efforce de fournir les meilleurs services de déménagements
                       pour la plus grande satisfaction de ses clients.Chez Moov, la satisfaction de nos clients est au coeur de nos priorités</p>
                    <!-- <a href="#" class="btn btn-warning">Lire plus</a> -->
              </div>
          </div>
      </div>
    </div>
</section>
<!-- about section Ends -->
{% endblock content %}