{% block content %}

 <!-- partenaire section starts -->
 <section id="partenaires" class="contact section-padding">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>Devenez l'un de nos partenaires</h2>
                    <p>Remplissez le formulaire pour en devenir un</p>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-12 p-0 pt-4 pb-4">
                <form action="#" class="bg-light p-4 m-auto">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input class="form-control" placeholder="Nom complet" required="" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <input class="form-control" placeholder="Email" required="" type="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Selectionnez votre partenaire</option>
                                    <option value="Entreprise de déménagement">Entreprise de déménagement</option>
                                    <option value="Propriétaire de tricycles">Propriétaire de tricycles</option>
                                    <option value="Propriétaire de camions">Propriétaire de camions</option>
                                    <option value="Propriétaire de maison à louer">Propriétaire de maison à louer</option>
                                  </select>
                            </div>
                        </div><button class="btn btn-warning btn-lg btn-block mt-3" type="button">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </section>
<!-- partenaire section ends -->
{% endblock content %}